// color //
$green: rgb(9, 88, 9);
$red: rgb(209, 28, 28);
$yellow: rgb(248, 196, 100);

// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // "Montserrat", sans-serif;

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $yellow;
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #timer {
    font-family: "Righteous", cursive;
    font-size: 36px;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      margin-top: 0;
    }
    #colon {
      margin: 0 10px 44.82px 10px;
    }
  }
  #startButton {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    color: $yellow;
    background-color: $green;
    cursor: pointer;
  }

  #startButton:hover {
    color: $green;
    background-color: $yellow;
  }
}
